<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Now Enter - Crazy Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional fonts for this theme -->
    <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this theme -->
    <link href="../static/css/clean-blog.min.css" rel="stylesheet">

    <!-- Temporary navbar container fix until Bootstrap 4 is patched -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">Crazy Blog</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/edit">Edit Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/type">Post Types</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('../static/img/2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <!--<hr class="small">-->
                        <!--<span class="subheading">He that always gives way to others will end in having no principles of his own.</span>-->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <h4>Fake IT Fan</h4>
                <p>Like to try everything looks cool or crazy.</p>
                <p>Break or die?</br>Yes, I think so.</p>

        <h4>Want to get in touch with me?</h4>
                <p>Fill out the form!</p>
                <form method="post">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name." name="Name">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address." name="email">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message." name="message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>

    <!-- state -->
    <input value="{{state}}" type="text" style="display: none; position: absolute" id="State">

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <p class="copyright text-muted">Copyright@crazy crazyfisher123.cn 2018.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 3.1.1 -->
    <script src="../static/lib/jquery/jquery.js"></script>

    <!-- Tether -->
    <script src="../static/lib/tether/tether.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>

    <!-- Theme JavaScript -->
    <script src="../static/js/clean-blog.min.js"></script>

    <script type="text/javascript">
    $(function() {
    $("table tr:nth-child(even)").addClass("even");
    var content = document.getElementById("State").value;
        if (content == 'success')
            alert('Your mseeage has been sent.')
        if (content == 'failed')
            alert('You fail to send this message.')
    })
    </script>

</body>

</html>
